.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #acfd9f;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}











.desktop-1 {
  color: #000;
  width: 100%;
  height: 100%;
  background-color: #fff;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  font-family: Jaldi;
  font-size: 3rem;
  font-weight: 700;
  line-height: 81px;
  display: flex;
}

.banner {
  width: 100%;
  background: linear-gradient(#16ed12 0%, #fff 100%);
  flex-direction: row;
  flex-basis: 11%;
  justify-content: flex-start;
  align-items: center;
  padding-left: 18px;
  display: flex;
}

.logotipo {
  width: 117px;
  height: 100px;
  object-fit: cover;
  background-position: center;
  background-size: cover;
  align-self: flex-end;
  margin-right: 26px;
}

.titulo {
  margin-top: 3px;
  margin-left: 18px;
}

.imagen-de-fondo {
  text-align: center;
  width: 100%;
  background-image: url("/src/assets/imagenDeFondo.png");
  background-position: center;
  background-size: cover;
  flex-direction: row;
  flex-basis: 89%;
  justify-content: center;
  align-items: center;
  padding-bottom: 75px;
  padding-right: 3px;
  font-family: Inika;
  font-weight: 400;
  line-height: 63px;
  display: flex;
}

.cuadro-iniciar-sesin {
  height: 70%;
  background-color: #d9d9d980;
  flex-direction: column;
  flex-basis: 45%;
  justify-content: space-evenly;
  align-items: center;
  margin-bottom: 12px;
  padding-bottom: 19px;
  padding-left: 7px;
  padding-right: 2px;
  display: flex;
}

.texto-inicio-de-sesi {
  margin-bottom: 42px;
  margin-left: 1px;
}

.inicio-de-sesin {
  width: 75%;
  background-color: #d9d9d9b3;
  border: none;
  flex-direction: row;
  flex-basis: 14%;
  justify-content: flex-start;
  align-items: stretch;
  margin-top: 11px;
  margin-bottom: 4px;
  margin-left: 1px;
  display: flex;
}

.constrasea {
  width: 479px;
  height: 84px;
  object-fit: cover;
  margin-top: 4px;
  margin-bottom: 18px;
}
